<div id="wrapper">
  
  <div id="birthday" class="overlay">
    <div class="birthday-wrapper">
      <span class="warning">Вам должно быть больше 18 лет, чтобы зайти на этот сайт.</span>
      <h3>Добро пожаловать</h3>
      <span class="warning">Пожалуйста, попробуйте ввести дату своего рождения</span>
      
      <div class="birthday-form">
        <%= render 'form' %>
      </div>
      
      <img src="/images/itar-logo.png" alt="" />
      
      
    </div>
  </div>
  
</div>