<div class="head">
  <div class="row">
    <div class="logo" id="logo">
      <img src="<%= image_path('logo.png') %>" alt="Official - Premium Multi-purpose HTML5 Template">
    </div><!-- end logo -->
  </div><!-- row -->
</div><!-- head -->

<div class="headdown my_sticky">        
    <div class="row clearfix">
          <nav>
            <ul class="sf-menu">
              <% first = true %>
              <% Refinery::Page.where("show_in_menu != ?",false).each do |page| %>
                <% if first == true %>
                  <li class="selectedLava">
                  <% first = false %>
                <% else %>
                  <li>
                <% end %>
                  <a href="<%= page.url %>"><%= page.path %></a>
                </li>
              <% end %>
            </ul><!-- end menu -->
          </nav><!-- end nav -->
        </div><!-- row -->
</div>