<div class="head">
  <div class="row">
    <div class="logo" id="logo">
      <img src="<%= image_path('logo.png') %>" alt="Official - Premium Multi-purpose HTML5 Template">
    </div><!-- end logo -->
  </div><!-- row -->
</div><!-- head -->

<div class="headdown my_sticky">        
    <%= header_menu.to_html %>
</div>